body {
  font-family: 'Muli', sans-serif;
  z-index: -2;
  background-color: gray;
  background-image: url('../img/background.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#overlay {
  z-index: -1;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
}

#info-box {
  z-index: 2;
  overflow: hidden;
  width: 40%;
  background-color: white;
}
#name {
  color:white;
  font-size: 50px;
}

#account-info {
  font-size: 15px;
  overflow: hidden;
  /*margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;*/
  padding:20px;
}

.container{ 
  float: left;
  clear: both;
}
.text-input {
  clear: both;
}
.text-input input{
  clear: both;
  float: left;
}

@media screen and (max-width: 768px) {
  body {
      background-position: center;
      background-size: auto 100%;
  }

  #info-box {
    width: 90%;
  }

  
}