
#start {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#start button {
    border: 0;
    box-shadow: 0;
    color: #111111;
    background-color: lightgrey;
    padding: 10px;
    font-size: 25px;
}
