body {
    background-image: url('../img/background.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    font-family: 'Muli', sans-serif;
}

#bar::after {
    clear: both;
}

#bar {
    text-align: center;
    background-color: #33235f;
    height: 70px;
    top: 0;
}

#nav::after{
    clear: left;
}

#nav {
    float: right;
    color: white;
    height: inherit;
    padding-right: 60px;
    vertical-align: middle;
}

#nav ul::after {
    clear: right;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: inherit;
}

#nav li {
    float: left;
    text-align: center;
    height: inherit;
}

#nav a:hover {
    background-color: #8f78bd;
}

#nav a {
    padding-top: 20px;
    height: 100%;
    text-align: center;
    width: 120px;
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

#title {
    margin-left: 50px;
    padding: 10px;
    float: left;
}

#title h1 {
    margin: 0;
}

#title a {
    font-weight: 700;
    color: white;
    font-size: 40px;
    text-decoration:  none;
}

#ubar {
    background-color: #33235f;
    height: 2px;
    vertical-align: bottom;
}

input [type="button"] {
    border-radius: 3px;
    font-weight: 300;
    border: 0;
    box-shadow: 0;
    color: #FFFFFF;
    background-color: #33235f;
    text-align: left;
    padding: 13px;
    font-size: 16px;
    width: 150px;
}

button {
    border-radius: 3px;
    font-weight: 300;
    border: 0;
    box-shadow: 0;
    color: #FFFFFF;
    background-color: #33235f;
    text-align: left;
    padding: 13px;
    font-size: 16px;
    width: 150px;
}

#middlebar h1 {
    margin: 0;
}

#middlebar a {
    color: white;
    font-weight: 700;
    font-size: 65px;
    text-decoration:  none;
}

#middlebar {
    padding: 30px 0px 30px 0px;
    margin-top: 200px;
    height: 100px;
    width: 100%;
    background-color: #33235f;
    text-align: center;
}

.middlebox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#middlebox-topbar {
    top: 0;
    vertical-align: top;
    width: 100%;
    height: 35px;
    background-color: #33235f;
    padding-top: 10px;
}

#middlebox-topbar p{
    color: white;
    margin: 0;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 20px;
}