body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Muli', sans-serif;
}

#bar {
    text-align: center;
    background-color: white;
    height: 85px;
    top: 0;
    padding-top: 20px;
}

#nav {
    display: inline-block;
    float: right;
    color: white;
    margin-top: 27px;
    margin-right: 40px;
}

#nav ul {
    float: right;
    margin: 0;
}

#nav li {
    display: inline-block;
    text-align:center;
    padding-right: 15px;
}

#nav a {
    font-size: 17px;
    font-weight: 300;
    color: #111111;
    text-decoration:  none;
}

#nav a:hover {
    color: #8f78bd;
}

#title {
    margin-left: 50px;
    padding: 10px;
    float: left;
}

#title h1 {
    margin: 0;
}

#title a {
    font-weight: 700;
    color: #604c8d;
    font-size: 40px;
    text-decoration:  none;
}

#ubar {
    background-color: #33235f;
    height: 2px;
    vertical-align: bottom;
}

button {
    border-radius: 3px;
    font-weight: 300;
    border: 0;
    box-shadow: 0;
    color: #FFFFFF;
    background-color: #33235f;
    text-align: left;
    padding: 13px;
    font-size: 16px;
    width: 170px;
}
